* {
  margin: 0px;
}
body {
  background-color: rgb(169, 169, 169);
}
nav {
  background-color: rgb(67, 67, 67);
}
nav a {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  color: aliceblue;
}
.logosection {
  padding-top: 15px;
  width: 100%;
  display: flex;
}

#nyg-h1 {
  font-size: 10vh;
  color: #0b2265;
  min-width: auto;
  align-items: center;
}
.nylogo {
  display: flex;
}
#logo1 {
}
.paragraph1 {
  font-size: 20pt;
  position: relative;
}
